
 main section table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

main section table caption {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Ephesis", cursive;
    font-size: 3rem;
    border:2px solid var(--color-principal);
    width: 350px;
    line-height: 0.6em;
    margin-left: auto;
    margin-right: auto;
}

main section table tbody .nombre-plato {
    font-size: 20px;
}

main section table tbody .nombre-plato i {
    border: 1px solid gray;
    border-radius: 100px;
    font-size: 16px;
    margin-left: 8px;
}


main section table tbody .nombre-plato i.fa-fish {
    color: brown;
    border-color: brown;
}


main section table tbody .nombre-plato i.fa-egg {
    color: lightskyblue;
    border-color: lightskyblue;
}


main section table tbody .nombre-plato i.fa-wheat-awn {
    color: lightcoral;
    border-color: lightcoral;
}

main section table tr .descripcion-plato {         
  padding: 10px; 
}

div .vino-coctel {
    font-family: "Ephesis", cursive;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
    text-align: center; 
 }

 main section h2 {
    text-align: center;
    color: rgb(15, 15, 15);
    margin-bottom: 10px;
    font-style: italic;
 }

.entrantes,
.plato-principal,
.postres {
    font-family: "Ephesis", cursive;
    font-size: 20px;
    padding-top: 20px;
}

@media(max-width:768) {
    section table {
        width: 100%;
    }
}

