

main .categorias-menu { 
  max-width: 800px;
  margin: 0 auto;
}
 main .categorias-menu .categoria-pescados h2,
 main .categorias-menu .categoria-carnes h2,
 main .categorias-menu .categoria-postres h2 {
  text-align: center;
  font-family: "Ephesis", cursive;
  font-size: 3rem;
  border:2px solid var(--color-principal);
  width: 350px;
  line-height: 0.6em;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-style: italic;
 }

main section .pescado-box,
main section .carne-box,
main section .postre-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px ;
}

.descripcion-precio-box {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
}

.nombre-plato {
  font-size:22px;
  display: flex;
  align-items: center;
  margin: 0;
}

.precio-plato {
  color:black;
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
  font-size: 15px;
  padding-left: 30px;
  padding-top: 17px;
}

.descripcion-plato {
   font-family:'Playfair Display', serif;
   font-style: italic;
   font-size: 16px;  
}


.comida-llevar h2 {
   text-align: center;
  font-family: "Ephesis", cursive;
  font-size: 3rem;
  border:2px solid black;
  width: 350px;
  line-height: 0.6em;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-principal);
  font-style: italic;
}

.comida-llevar {
  padding-bottom: 6cm;
  padding-top: 25px;
}

.iconos i {
  font-size: 17px;
  margin-left: 10px;  
}

.iconos i.fa-fish {
  color: rgb(165, 42, 42);
}

.iconos i.fa-egg {
  color: rgb(178, 221, 247);
}

.iconos i.fa-wheat-awn {
  color: rgb(248, 185, 185);
}

.iconos  i.fa-seedling {
  color: rgb(55, 114, 55);
 }


.iconos  i.fa-cheese {
  color: rgb(243, 200, 90);
}


.vino-coctel {
  font-size: 19px;
  margin: 19px;
  padding: 19px;
  text-align: center;
  font-style: italic;
}

.nombre-plato-llevar {
  font-family:'Playfair Display', serif;
  font-size: 16px; 
  margin: 0;
  display: flex;
  align-items: center;
}

.precio-plato-llevar{
  color:black;
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
  font-size: 15px;
  padding-left: 30px;
  padding-top: 17px;
}

.nombre-plato-incono-box-llevar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

@media (max-width: 768px) {
  main .categorias-menu {
    margin: 20px;
    display: flex;
    flex-direction: column;
    
  }

  .categoria-pescados,
  .categoria-carnes,
  .categoria-postres,
  .comida-llevar {
    display: flex;
    flex-direction: column;
    padding:15%;
    text-align: center;
  }

  .categoria-carnes h2,
  .categoria-pescados h2,
  .categoria-postres h2,
  .categorias-menu h2 {
   max-width: 200px;
  }
}