main .contenedor-principal-especialidades {
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    gap: 60px;
}

main .contenedor-principal-especialidades .contenedor-imagen-texto-especialidades {
  display: flex;
  gap: 30px;
}
main .contenedor-principal-especialidades .contenedor-imagen-texto-especialidades .contenedor-texto-especialidades {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

main .contenedor-principal-especialidades .contenedor-imagen-texto-especialidades  img {
   width: 50%;
   height: 30%;
   border-radius: 8px;
}

main .contenedor-principal-especialidades .contenedor-imagen-texto-especialidades .contenedor-texto-especialidades  h2 {

  font-size: 3em;
  font-weight: 600;
  font-style: italic;
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.6);
  text-align: center;
  font-family: "Ephesis", cursive;
  color: var(--color-principal);;
}

main .contenedor-principal-especialidades .contenedor-imagen-texto-especialidades .contenedor-texto-especialidades p {
  display: flex;
  align-items: center;
  line-height: 1.8;
  text-indent: 1em; 
  width:80% ;
  text-align: justify;
  font-style: italic;
}

@media (max-width: 768px) {
  main .contenedor-principal-especialidades .contenedor-imagen-texto-especialidades {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}