
footer {
      background-color: #000;
      color: #fff; 
      font-size: 15px;
      font-family: "Segoe UI";  
      margin-top: 40px;    
}

.footer-navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
    height: 70px; 
}
   
 .enlaces-footer {
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s;
  padding: 8px 15px; 
}

.enlaces-footer:hover {
    background-color: #4b4b4b;  
}

hr {
    color: #4b4b4b;
    width: 80%;
    margin-left: 10%;
}

.footer-informacion {
    display: flex;
    flex-direction: row;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    color: #4b4b4b;
    font-size: 10px;
    gap: 4px;
}

.informacion-contacto {
    display: flex;
    flex-direction: column;
}

.redes-sociales a { 
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;   
}



