header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

header img {
  height: 80px;
  width: auto;
 
}

nav {
  display: flex;
  gap: 20px;
}

.enlaces-header {
  text-decoration: none;
  color: #4b4b4b;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.enlaces-header:hover {
  background-color: var(--color-principal); 
  color: white;
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }

  nav a {
    width: 100%;
    text-align: left;
  }

  header img {
    height: 70px;
  }
}



